/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  background-color: #0a2133;

}
.dark-mode {
  background-color: black;
  color: white;
}

.ratings .p-list{
  margin-top: -5%;
}
/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #86F68A;
    border-radius: 12px;
    transition: all 0.3s ease;
}
nav{
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}



nav .navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .logo a{
  font-weight: 500;
  font-size: 35px;
  color: #86F68A;
}
nav.sticky .navbar .logo a{
  color: #fff;
  
}
nav .navbar .menu{
  display: flex;
  position: relative;
  /* margin-left: 40px; */
}
nav .navbar .menu li{
  list-style: none;
  margin: 0 8px;
  margin-left: 10px;
}
.navbar .menu a{
  font-size: 18px;
  font-weight: 500;
  color: white;
  padding: 6px 0;
  transition: all 0.4s ease;
}
nav.sticky .menu a:hover{
  color: white;
}
.media-icons{
  display: block;
  margin-top: -30%;
  position: fixed;
  margin-left: 2%;
}
.media-icons a{
  color: #4070f4;
  font-size: 18px;
  margin: 0 6px;
  display: block;
  padding-top: 4%;
  margin-left: 2%;
}

  /* position: fixed; */
  

nav.sticky .media-icons a{
  color: #FFF;
}
.container {
  display: inline-block;
  cursor: pointer;
  margin-left: 70%;
}


 li a:hover {
  transform: scale(1.2);
}

nav li a::before{
  content: "";
  width: 25vw;
  background-color: white;
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
}

nav li a:hover::before{
  opacity: 1;
}
nav ul li {
  height: 20%;
  overflow: hidden;
}
nav li a{
  position: relative
  ;
  top: 45%;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
}
nav li:nth-of-type(1){
  background-color: var(--navColor1);
}
nav li:nth-of-type(2){
  background-color: var(--navColor2);
}
nav li:nth-of-type(3){
  background-color: var(--navColor3);
}
nav li:nth-of-type(4){
  background-color: var(--navColor4);
}
nav li:nth-of-type(5){
  background-color: var(--navColor5);
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: #fff;
  /* right: 50px; */
  /* margin-left: 10%; */

  top: 20px;
  font-size: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
 nav .nav .menu{
  margin-left: 10%;
}
nav .menu-btn{
  color: #4070f4;
}
nav.sticky .menu-btn{
  color: #FFF;
}
.navbar .menu .menu-btn{
  color: #fff;
}
.switch-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 30px;
}
.switch-wrapper .sun {
      background: url(images/white_sun_with_rays.png) no-repeat center;
      background-size: 100%;
  }
body.night .switch-wrapper .sun , html.night .switch-wrapper .sun {
      background: url(images/sun-white.svg) no-repeat center;
      background-size: 100%;
  }
.switch-wrapper .moon, .switch-wrapper .sun {
      width: 17px;
      height: 17px;
  }
.switch-wrapper .toggle-wrapper {
      margin: 10px;
  }
.switch-wrapper .toggle-wrapper #switch {
      height: 0;
      width: 0;
      visibility: hidden;
      position: absolute;
  }
.switch-wrapper .toggle-wrapper input[type=checkbox] {
      height: 0;
      width: 0;
      visibility: hidden;
  }
.switch-wrapper .toggle-wrapper label {
      cursor: pointer;
      text-indent: -9999px;
      width: 45px;
      height: 25px;
      background: grey;
      display: block;
      border-radius: 100px;
      position: relative;
  }
.switch-wrapper .toggle-wrapper label:after {
      content: '';
      position: absolute;
      left: 2px;
      top :1px;
      width: 20px;
      height: 22px;
      background: #fff;
      border-radius: 40px;
      transition: 0.3s;
  }
.switch-wrapper .toggle-wrapper input:checked + label {
      background: #BADA55;
  }
.switch-wrapper .toggle-wrapper input:checked + label:after {
      left: calc(100% - 2px);
      transform: translateX(-100%);
  }
.switch-wrapper .toggle-wrapper label:active:after {
      width: 0px;
  }
.switch-wrapper .moon {
      background: url(images/moon.png) no-repeat center;
      background-size: 100%;
  }
body.night .switch-wrapper .moon, html.night .switch-wrapper .moon {
      background: url(images/moon-white.svg) no-repeat center;
      background-size: 100%;
  }
.switch-wrapper a, body.night .switch-wrapper a {
color: #007BFF;
margin: 15px;
}
.text-one{
}
/* home section styling */
.home{
  height: 100vh;
  width: 100%;
  background: url("images/background.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.home .home-content{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .text-one{
  font-size: 25px;
  color: white;
}
.home .text-two{
  color: white;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .text-three{
  font-size: 40px;
  margin: 5px 0;
  color: white;
}
.home .text-four{
  font-size: 23px;
  margin: 5px 0;
  color: #0E2431;
}
.home .button{
  margin: 14px 0;
}
.button button{
  border-radius: 12rem;
}
.home .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 6rem;
  font-size: 25px;
  font-weight: 400;
  background: #0A2133;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
  border-color: #86F68A;
  border-width: medium;
}
.home .button button:hover{
  border-color: #86F68A;
  background-color: #fff;
  color: #0A2133;
}


section{
  padding-top: 40px;
}
section .content{
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}
.about .about-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
  /* color: ; */
  color: #86F68A;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  left: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.about .about-details .left{
  width: 45%;
}
.about .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.right{
  color: white;
}
.about-details .right{
  width: 55%;
  
}

section  .topic{
  color: white;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-details .right p{
  text-align: justify;
  color: white;
}
section .button{
  margin: 16px 0;
}
section .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 12rem;
  font-size: 25px;
  font-weight: 400;
  background: #0A2431;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
  border-color: #86F68A;
  border-width: medium;

}
section .button button:hover{
  /* border-color: ; */
border-color: #86F68A;
  background-color: #fff;
  color: #0A2133;
}
section .button button:hover a{ 
  color: #0A2133;
  background-color: white;
}
button .button{
  border-color: #86F68A;
  border-width: medium;
  border-radius: 12rem;
}
 /* My Skills CSS */

 .skills .content{
   padding: 40px 0;
 }
 .skills .skills-details{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .skills-details .text{
   width: 50%;
 }
 .skills-details p{
   color: #0E2431;
   text-align: justify;
 }
.skills .skills-details .experience{
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.skills-details .experience .num{
  color: #0E2431;
  font-size: 80px;
}
.skills-details .experience .exp{
  color: #0E2431;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 6px;
}
.skills-details .boxes{
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin-left: -50%; */
}
.skills-details .box{
  width: calc(100% / 2 - 20px);
  margin: 20px 0;
  /* margin-top: 10%; */

}
.skills-details .boxes .topic{
  font-size: 20px;
  color: #86F68A;
}
.skills-details .boxes .per{
  font-size: 60px;
  color: #4070f4;
}
.ratings {
  display: block;
  position: sticky;
  justify-content: space-between;
  padding: 0;
}
.ratings:before {
  content: " ";
  width: calc(100% - 100px);
  height: 1px;
  background: #0E2431;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.ratings p{
  color: white;
  margin-left: 57%;
  
  /* transform: scale(1, 1) */
}
.r-p{
  color: white;

}
.box .icon .topic a{
  background-color: #007BFF;
}
.text .rings li{
  /* background-color: #86F68A; */
  width: 20%;
}
.ratings li {
  /* text-align: center; */
  list-style: none;
  margin: 0 20px;
  position: relative;
  margin-top: 10%;
  
}


.ratings li:before {
  content: " ";
  width: 20px;
  height: 20px;
  border: solid 2px white;
  border-radius: 50%;
  display: block;
  margin: 0 auto 5px;
  background: #0E2431;
}



/* My Services CSS */
.services .boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services .boxes .box{
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
  background-color: #284F78;
}
/* .services .boxes .box:hover{
  background: white;
  /* color: #284F78;/ */


/* .box .topic a .box:hover{
background-color: white;
} */
.box .topic a{
  background-color: #284F78;
}
.box .topic{
  background-color: #284F78;
}

.services .boxes .box .icon{
  height: 50px;
  width: 50px;
  background-color: #284F78;
  border-radius: 50%;
  background: #284F78;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  /* color: #284F78; */
  color: white;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}
/* .boxes .box:hover .icon{
  background-color: white;
  color: white;
} */
/* .topic .box{
  background-color: #284F78;
  /* color: #007BFF; */
/* }
a .box .topic{
  color: white;
  background-color: #284F78;
} */ */

/* .services .boxes .box:hover .topic,
.services .boxes .box:hover p{
  color: #284F78;
  transition: all 0.4s ease;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
  color: #284F78;
}
.services .boxes .box:hover .topic{
  color: #284F78 ;
  background-color: white
;} */
/* Contact Me CSS */
.contact{
  /* background: #F0F8FF; */
}
.contact .content{
  margin: 0 auto;
  padding: 30px 0;
}
.contact .text{
  width: 80%;
  text-align: center;
  margin: auto;
}

/* Footer CSS */
footer{
  background: #86F68A;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
footer .text span{
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}
footer .text span a{
  font-weight: 500;
  color: #FFF;
}
footer .text span a:hover{
  text-decoration: underline;
}
/* Scroll TO Top Button CSS */
.scroll-button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #86F68A;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content{
    width: 85%;
  }
}
@media (max-width: 1000px) {
  .about .about-details{
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right{
    width: 90%;
    margin: 40px 0;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 900px) {
  .about .left img{
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 750px) {
  nav .navbar{
    width: 90%;
  }
  nav .navbar .menu{
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu{
    left: 0;
  }
  nav .navbar .menu a{
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover{
    color: #4070f4;
  }
  nav .navbar .media-icons{
    display: none;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn{
    display: block;
  }
  .home .text-two{
    font-size: 65px;
  }
  .home .text-three{
    font-size: 35px;
  }
  .skills .skills-details{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills-details .text{
    width: 100%;
    margin-bottom: 50px;
  }
  .skills-details .boxes{
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: 100%;
  }
  .contact .text{
    width: 100%;
}
}

@media (max-width: 500px){
  .home .text-two{
    font-size: 55px;
  }
  .home .text-three{
    font-size: 33px;
  }
  .skills-details .boxes .per{
    font-size: 50px;
    color: #4070f4;
  }
}